@import url('http://fonts.cdnfonts.com/css/clash-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.migrate-button{
  background: #7131A0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.migrate-box{
  background-color: #EDD7FD;
  border-radius: 10px;
  color: #3E274F;
}

.goge-navbar{
  background-color: #3E274F;
}

.top-migration-section{
  color: #3E274F;
}

.migrate-button:disabled, [disabled]{
  border: 1px solid #999999;
  background: #cccccc;
  color: #7131A0;
  box-shadow: none;
  cursor: auto;
}
